/* style.css for LillianLiu-CS185 */


/* Site-Wide Styles */
body {
	background-image: url("images/BG-tealfloral.png"); /*tiles by default*/
	padding: 0px 20px 5px 20px; /*top right bottom left*/
}

.header {
	padding: 0px 0px 20px 0px;
}
.header > .title {
	padding: 0px;
	color: Teal;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
}
.header > .nav-bar {
	background-color: rgba(175,213,193,0.8);
	padding: 5px 10px 5px 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center; /*horizontal*/
	align-items: center; /*vertical*/
}
.header > .nav-bar > .elem {
	padding: 0px 20px 0px 20px;
}
.header > .nav-bar > .image {
	padding: 0px 0px 0px 0px;
}

.body-block {
	background-color: rgba(211,229,220,0.7);
	padding: 10px 10px 10px 10px;
	font-family: Georgia, serif;
	font-size: 17px;
}
.body-block > .block-content {
	padding: 0px 10px 0px 10px;
}


/* Home */
#intro {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center; /*horizontal*/
}


/* Gallery */
#photo-grid {
	
}


/* Videos */
#video-grid {
	
}


/* About Me */
#main-about-me {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center; /*horizontal*/
}


/* External Links */
#main-extlinks {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around; /*horizontal*/
}
#main-extlinks > .block-content {
	padding: 0px 20px 0px 20px;
	text-align: center;
}





